@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  z-index: 20;
}

input {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
}

html {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
}

textarea {
  outline: none;
  resize: none;
}

a {
  color: #131313;
}

body.lock {
  overflow: hidden;
}

.order__form {
  -webkit-box-shadow: -100px -100px 0px 100vw rgba(0, 0, 0, 0.3);
          box-shadow: -100px -100px 0px 100vw rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: fixed;
  display: none;
  border-radius: 6px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
}
.order__form.open {
  display: inherit;
}
.order__form .order__form-body {
  position: relative;
}
.order__form .order__form-body .close {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
.order__form .order__form-body .close img {
  width: 15px;
  height: 15px;
}
.order__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 0;
}
.order__form form input {
  width: 45%;
}
.order__form form input, .order__form form textarea {
  padding: 10px 15px;
  border-radius: 4px;
  background: #F6F6F6;
  border: none;
}
.order__form .main__btn {
  margin: 0 auto;
}
.order__form .main__btn button {
  padding: 20px 100px;
}
.order__form .order__title {
  text-align: center;
}
.order__form .order__title h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-size: 31px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.order__form .order__title h1::before {
  content: "";
  width: 40%;
  height: 2px;
  background: #FEC627;
  position: absolute;
  left: 30%;
  bottom: 0;
}

@media (max-width: 768px) {
  .order__form form input {
    width: 100%;
  }
  .order__part .order__form-content form input {
    width: 100%;
  }
}
.main__btn button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 20px 100px;
  font-weight: 600;
  background: #FEC627;
  color: #131313;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15px;
}
.contacts a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FEC627;
  border-radius: 50px;
}
.contacts img {
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info, .header__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
}
.info a, .header__phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 7px;
  color: #fff;
}
.info span, .header__phone span {
  width: 30px;
  height: 30px;
  background: #FEC627;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info img, .header__phone img {
  width: 15px;
  height: 15px;
}

.main__btn button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 20px 100px;
  font-weight: 600;
  background: #FEC627;
  color: #131313;
}

.main__title {
  font-size: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
  position: relative;
}
.main__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FEC627;
  width: 20%;
  height: 2%;
  border-radius: 50px;
}
.main__title h1 {
  font-size: 34px;
  color: #131313;
  padding-bottom: 8px;
}

.main__img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 500px;
  height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  position: relative;
  /*&::before{
      content: "";
      width: 450px;
      height: 450px;
      position: absolute;
      z-index: 30;
      left: -10px;
      bottom: -6px;
      background: $maincolor;
      border-radius: 4px;
  }*/
}
.main__img img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
  max-width: 95%;
  border-radius: 4px;
  -webkit-box-shadow: -10px 10px 0px 0px rgb(254, 198, 39);
  box-shadow: -10px 10px 0px 0px rgb(254, 198, 39);
}

.main__title {
  font-size: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
.main__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FEC627;
  width: 20%;
  height: 2%;
  border-radius: 50px;
}
.main__title h1 {
  font-size: 34px;
  color: #131313;
  padding-bottom: 8px;
}

.header__content .header__up {
  position: relative;
  z-index: 20;
  padding: 10px 0;
  background: #131313;
}
.header__content .header__up-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content .info span + span {
  margin-left: 20px;
}

.header__down-body {
  z-index: 20;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__down-body .main__btn button {
  padding: 10px 35px;
}

.menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 25px;
  font-size: 18px;
  font-weight: 600;
}

.main__logo h1 {
  font-size: 36px;
  color: #FEC627;
}
.main__logo span {
  font-size: 24px;
  color: #131313;
}

.welcome__part {
  min-height: 85vh;
  background: url("../img/Rectangle 1.png") center center no-repeat;
  background-size: cover;
}
.welcome__part * {
  color: #fff;
}
.welcome__part .welcome__part-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 85vh;
  width: 50%;
}
.welcome__part .welcome__part-body .title * {
  font-size: clamp(50px, 8vw, 64px);
}
.welcome__part .welcome__part-body .title span {
  color: #FEC627;
}
.welcome__part .welcome__part-body .info p {
  margin: 40px 0;
}
.welcome__part .main__btn button {
  font-size: 16px;
  padding: 20px 60px;
}

.header__menu .info {
  display: none;
}
.header__menu .info a {
  color: #131313;
  font-weight: 600;
}

.header__phone {
  display: none;
}

.header__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 40%;
}
.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 40%;
}
.header__burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  background: #131313;
  border-radius: 50px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #131313;
  border-radius: 50px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media (max-width: 1068px) {
  .bg__klip {
    display: none;
  }
  .welcome__part {
    display: block;
  }
  .welcome__part .info {
    display: block;
  }
  .welcome__part .welcome__part-body {
    width: 100%;
  }
  .welcome__part .welcome__part-body .main__btn button {
    width: 100%;
  }
  .header__phone {
    display: block;
  }
  header .info {
    display: none;
  }
  .header__down-body .hide {
    display: none;
  }
  .header__burger {
    z-index: 50;
    display: block;
  }
  .header__menu {
    z-index: 21;
    padding: 15px;
    position: absolute;
    background: #fff;
    top: -100%;
    left: 0;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  .header__menu.active {
    top: 114px;
  }
  .header__menu .menu ul {
    gap: 5px 100px;
    margin-bottom: 15px;
  }
  .header__menu .menu ul li {
    width: 130px;
  }
  .header__menu .menu .info {
    display: inherit;
  }
  .header__menu .menu .info a {
    margin-bottom: 10px;
  }
  .header__menu .menu .info .main__btn button {
    width: 100%;
    padding: 20px 0;
  }
}

.shop__body .shop__title {
  margin: 20px 0;
}
.shop__body .shop__title h1 {
  font-size: 60px;
}

.shop__structure {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop__structure .shop__element {
  border-bottom: 1px solid #f6f6f6;
  padding: 10px 0;
  z-index: 0;
  cursor: pointer;
}

.shop__structure .shop__element img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop__structure .shop__element .element__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop__structure .shop__element .element__info span {
  width: 30px;
  height: 2px;
  background: #FEC627;
  position: relative;
}
.shop__structure .shop__element .element__info span::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -2px;
  width: 10px;
  height: 2px;
  border-radius: 5px;
  background: #FEC627;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.shop__structure .shop__element .element__info span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -2px;
  width: 10px;
  height: 2px;
  border-radius: 5px;
  background: #FEC627;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  left: -100vw;
  z-index: 50;
}
.popup.open {
  left: 0;
    top: 0;
}

.product__page {
  min-width: 65%;
  max-height: 200%;
  -webkit-box-shadow: -100px -100px 0px 100vw rgba(0, 0, 0, 0.3);
          box-shadow: -100px -100px 0px 100vw rgba(0, 0, 0, 0.3);
  z-index: 1000;
  position: absolute;
  border-radius: 6px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  overflow: auto;
}
.product__page .product__page-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  position: relative;
}
.product__page .product__page-body .close {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
.product__page .product__page-body .close img {
  width: 15px;
  height: 15px;
}
.product__page .page__slider {
  max-width: 450px;
  position: relative;
}
.product__page .product__page-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
}
.product__page .product__page-slider .sldr__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__page .product__page-slider .sldr__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__page .page__slider-for {
  margin-top: 20px;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.product__page .page__slider-for .sldr__item {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__page .page__slider-for .sldr__item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.product__page .product__page-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-flex: 3;
      -ms-flex: 3 3 30%;
          flex: 3 3 30%;
}
.product__page .product__page-info .main__title {
  margin-bottom: 0;
  text-align: center;
}
.product__page .product__page-info .main__title::before {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media (max-width: 767px){
  .product__page-info .main__btn{
    width: 100%;
  }
  .product__page-info button{
    padding: 20px 0;
    width: 100%;
    width: 100%;
  }
}
.slick-arrow {
  position: absolute;
  top: 40%;
  background-size: cover;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.slick-arrow.slick-next {
  right: 10px;
  background: #F6F6F6;
  border: none;
  border-radius: 50px;
}
.slick-arrow.slick-next::before {
  content: "";
  position: absolute;
  top: 36%;
  border-radius: 50px;
  left: 35%;
  width: 10px;
  height: 3px;
  background: #131313;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.slick-arrow.slick-next::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  bottom: 36%;
  left: 35%;
  width: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 3px;
  background: #131313;
}
.slick-arrow.slick-prev {
  left: 10px;
  background: #F6F6F6;
  border: none;
  border-radius: 50px;
}
.slick-arrow.slick-prev::before {
  content: "";
  position: absolute;
  top: 36%;
  border-radius: 50px;
  left: 33%;
  width: 10px;
  height: 3px;
  background: #131313;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.slick-arrow.slick-prev::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  bottom: 36%;
  left: 33%;
  width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 3px;
  background: #131313;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1030px) {
  .product__page {
    top: 30px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    overflow: auto;
  }
  .product__page .page__slider {
    margin-top: 15px;
    width: 70vw;
  }
}
.shop__body .shop__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop__body .shop__title .shop__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 50%;
          flex: 0 2 50%;
}
.shop__body .shop__title .shop__info p {
  margin-top: 10px;
}
.shop__body .shop__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 20px;
}

/* Стили для кнопки выпадающего меню */
.dropbtn {
  text-align: left;
  border: 1px solid #858585;
  padding: 15px 100px 15px 15px;
  border-radius: 4px;
  background: none;
  width: 100%;
  position: relative;
}
.dropbtn::before {
  content: "";
  position: absolute;
  border-radius: 50px;
  bottom: 50%;
  right: 16px;
  width: 10px;
  height: 2px;
  background: #858585;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.dropbtn::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  bottom: 50%;
  right: 10px;
  width: 10px;
  height: 2px;
  background: #858585;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Стили для контейнера выпадающего меню */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}

/* Стили для выпадающего контента */
.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 50;
  min-width: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {

  .dropdown-content{
    position: relative;
  }
  .dropdown{

    width: calc(100vw - 20px);
  }
  .element__img{
    width: 100%;
  }
  .shop__structure .shop__element {
    width: 100%;
  }
  .element__img img{
    width: 100%;
  }
}

.dropdown-content a {
  position: relative;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 150;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  
  display: block;
}

@media (max-width: 787px) {
  .shop__body .shop__title .shop__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .shop__body .dropdown {
    margin-top: 20px;
  }
  .shop__body .dropdown .dropbtn {
    width: 100%;
    display: block;
  }
}
.pagination__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.pagination__body .prev {
  /*background: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
      max-width: 100%;
      object-fit: cover;
  }*/
  position: relative;
  background: #f6f6f6;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
.pagination__body .prev::before {
  content: "";
  position: absolute;
  border-radius: 50px;
  top: 37%;
  right: 10px;
  width: 10px;
  height: 2px;
  background: #858585;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.pagination__body .prev::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  bottom: 37%;
  right: 10px;
  width: 10px;
  height: 2px;
  background: #858585;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.pagination__body .next {
  position: relative;
  width: 30px;
  height: 30px;
  background: #f6f6f6;
  cursor: pointer;
  border-radius: 4px;
}
.pagination__body .next::before {
  content: "";
  position: absolute;
  border-radius: 50px;
  top: 37%;
  right: 10px;
  width: 10px;
  height: 2px;
  background: #858585;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.pagination__body .next::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  bottom: 37%;
  right: 10px;
  width: 10px;
  height: 2px;
  background: #858585;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.pagination__body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.pagination__body ul li a{
  padding: 5px 10px;
  cursor: pointer;
  color: #131313;
  background: #f6f6f6;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-radius: 4px;
}
.pagination__body ul li a:hover {
  background: #FEC627;
}
.pagination__body ul li.active a {
  background: #FEC627 !important;
}


.order__part {
  background: url("../img/Rectangle 30.png") center center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 5;
}
.order__part .main__title{
  font-size: 48px;

}
.order__part .order__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__part .order__form-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.order__part .order__form-content form {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 0;
}
.order__part .order__form-content form input {
  width: 45%;
}
.order__part .order__form-content form input, .order__part .order__form-content form textarea {
  padding:20px;
  border-radius: 4px;
  border: none;
}
.order__part .order__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 685px;
}
.order__part .order__img img {
  border-radius: 0px;
  -webkit-box-shadow: -8px 0px 0px 0px rgb(254, 198, 39);
  box-shadow: -8px 0px 0px 0px rgb(254, 198, 39);
  width: 100%;
}

@media (min-width: 767px) {
  .order__part .order__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }
  .order__part .order__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 980px) {
  .order__part .order__img {
    display: none;
  }
  .order__part .order__body {
    display: block;
  }
  .order__part .order__form-content {
    padding: 20px 0;
  }
  .order__part .order__form-content form {
    width: 100%;
  }
  .order__part .order__form-content form .main__btn {
    width: 100%;
  }
  .order__part .order__form-content form .main__btn button {
    padding: 13px 50px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .order__part .order__form-content form input {
    width: 100%;
  }
}

footer {
  color: #fff;
  background: #131313;
  padding: 30px 0;
}
footer .main__logo span {
  color: #fff;
}
footer .footer__menu * {
  color: #fff;
}
footer .footer__menu .menu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px 0;
}
footer .footer__link .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px 0;
  margin-bottom: 20px;
}
footer .footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}
footer .footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 500px;
          flex: 0 2 500px;
}
footer .footer__info h2 {
  margin: 20px 0;
  font-weight: 400;
}
footer .footer__subscribe input {
  width: 100%;
  border: none;
  padding: 15px 20px;
  background: #F6F6F6;
  margin-bottom: 10px;
  border-radius: 4px;
}
footer .footer__subscribe .main__btn button {
  width: 100%;
}

@media (max-width: 767px) {
  .footer__subscribe {
    width: 100%;
  }
}
.bg__klip {
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 5;
}
.bg__klip.klip-1 {
  background: url("/img/black-plastic-welding-mask-isolated-png 1.png") center center no-repeat;
  height: 140px;
  width: 120px;
}
.bg__klip.klip-2 {
  background: url("/img/klipartz 6.png") center center no-repeat;
  width: 150px;
  height: 280px;
}
.bg__klip.klip-3 {
  background: url("/img/klipartz 8.png") center center no-repeat;
  width: 150px;
  height: 385px;
}
.bg__klip.klip-4 {
  background: url("/img/klipartz 3.png") center center no-repeat;
  width: 140px;
  height: 240px;
}