*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  z-index: 20;
}

input {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
}

html {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
}

textarea {
  outline: none;
  resize: none;
}

a {
  color: #131313;
}

body.lock {
  overflow: hidden;
}

.order__form {
  -webkit-box-shadow: -100px -100px 0px 100vw rgba(0, 0, 0, 0.3);
          box-shadow: -100px -100px 0px 100vw rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: fixed;
  display: none;
  border-radius: 6px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
}
.order__form.open {
  display: inherit;
}
.order__form .order__form-body {
  position: relative;
}
.order__form .order__form-body .close {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
.order__form .order__form-body .close img {
  width: 15px;
  height: 15px;
}
.order__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 0;
}
.order__form form input {
  width: 45%;
}
.order__form form input, .order__form form textarea {
  padding: 10px 15px;
  border-radius: 4px;
  background: #F6F6F6;
  border: none;
}
.order__form .main__btn {
  margin: 0 auto;
}
.order__form .main__btn button {
  padding: 20px 100px;
}
.order__form .order__title {
  text-align: center;
}
.order__form .order__title h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-size: 31px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.order__form .order__title h1::before {
  content: "";
  width: 40%;
  height: 2px;
  background: #FEC627;
  position: absolute;
  left: 30%;
  bottom: 0;
}

@media (max-width: 768px) {
  .order__form form input {
    width: 100%;
  }
  .order__part .order__form-content form input {
    width: 100%;
  }
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15px;
}
.contacts a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FEC627;
  border-radius: 50px;
}
.contacts img {
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info, .header__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
}
.info a, .header__phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 7px;
  color: #fff;
}
.info span, .header__phone span {
  width: 30px;
  height: 30px;
  background: #FEC627;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info img, .header__phone img {
  width: 15px;
  height: 15px;
}

.main__btn button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 20px 100px;
  font-weight: 600;
  background: #FEC627;
  color: #131313;
}

.main__title {
  font-size: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
  position: relative;
}
.main__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FEC627;
  width: 20%;
  height: 2%;
  border-radius: 50px;
}
.main__title h1 {
  font-size: 34px;
  color: #131313;
  padding-bottom: 8px;
}

.main__img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 500px;
  height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  position: relative;
  /*&::before{
      content: "";
      width: 450px;
      height: 450px;
      position: absolute;
      z-index: 30;
      left: -10px;
      bottom: -6px;
      background: $maincolor;
      border-radius: 4px;
  }*/
}
.main__img img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 50;
  max-width: 95%;
  border-radius: 4px;
  -webkit-box-shadow: -10px 10px 0px 0px rgb(254, 198, 39);
  box-shadow: -10px 10px 0px 0px rgb(254, 198, 39);
}

.header__content .header__up {
  position: relative;
  z-index: 50;
  padding: 10px 0;
  background: #131313;
}
.header__content .header__up-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content .info span + span {
  margin-left: 20px;
}

.header__down-body {
  z-index: 20;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__down-body .main__btn button {
  padding: 10px 35px;
}

.menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 25px;
  font-size: 18px;
  font-weight: 600;
}

.main__logo h1 {
  font-size: 36px;
  color: #FEC627;
}
.main__logo span {
  font-size: 24px;
  color: #131313;
}

.welcome__part {
  min-height: 85vh;
  background: url("../img/Rectangle 1.png") center center no-repeat;
  background-size: cover;
}
.welcome__part * {
  color: #fff;
}
.welcome__part .welcome__part-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 85vh;
  width: 50%;
}
.welcome__part .welcome__part-body .title * {
  font-size: clamp(50px, 8vw, 64px);
}
.welcome__part .welcome__part-body .title span {
  color: #FEC627;
}
.welcome__part .welcome__part-body .info p {
  margin: 40px 0;
}
.welcome__part .main__btn button {
  font-size: 16px;
  padding: 20px 60px;
}

.header__menu .info {
  display: none;
}
.header__menu .info a {
  color: #131313;
  font-weight: 600;
}

.header__phone {
  display: none;
}

.header__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 40%;
}
.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 40%;
}
.header__burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  background: #131313;
  border-radius: 50px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #131313;
  border-radius: 50px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media (max-width: 1068px) {
  .bg__klip {
    display: none;
  }
  .welcome__part {
    display: block;
  }
  .welcome__part .info {
    display: block;
  }
  .welcome__part .welcome__part-body {
    width: 100%;
  }
  .welcome__part .welcome__part-body .main__btn button {
    width: 100%;
  }
  .header__phone {
    display: block;
  }
  header .info {
    display: none;
  }
  .header__down-body .hide {
    display: none;
  }
  .header__burger {
    z-index: 50;
    display: block;
  }
  .header__menu {
    z-index: 10;
    padding: 15px;
    position: absolute;
    background: #fff;
    top: -100%;
    left: 0;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  .header__menu.active {
    top: 114px;
  }
  .header__menu .menu ul {
    gap: 5px 100px;
    margin-bottom: 15px;
  }
  .header__menu .menu ul li {
    width: 130px;
  }
  .header__menu .menu .info {
    display: inherit;
  }
  .header__menu .menu .info a {
    margin-bottom: 10px;
  }
  .header__menu .menu .info .main__btn button {
    width: 100%;
    padding: 20px 0;
  }
}
.about__us .main__info {
  width: 100%;
}
.about__us .main__btn {
  margin-top: 30px;
}

.services {
  position: relative;
}
.services .bg__klip.klip-1 {
  top: 10%;
  left: 0;
}
.services .bg__klip.klip-2 {
  top: 40%;
  right: 37%;
}
.services .bg__klip.klip-3 {
  right: 0;
  top: 20%;
}

.services__body {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services__body .main__info {
  width: 50%;
}
.services__body .services__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}
.services__body .services__feature div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__body .services__feature div span {
  width: 35px;
  height: 35px;
  background: #FEC627;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}
.services__body .services__feature div p {
  font-weight: 600;
  max-width: 150px;
  text-align: center;
}

@media (max-width: 1035px) {
  .about__us .main__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .services__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px 0;
  }
  .services__body .main__info {
    width: 100%;
  }
  .services__body .main__info .main__btn button {
    width: 100%;
  }
}
.order__part {
  background: url("../img/Rectangle 30.png") center center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.order__part .order__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__part .order__form-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.order__part .order__form-content form {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 0;
}
.order__part .order__form-content form input {
  width: 45%;
}
.order__part .order__form-content form input, .order__part .order__form-content form textarea {
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
}
.order__part .order__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 685px;
}
.order__part .order__img img {
  border-radius: 0px;
  -webkit-box-shadow: -8px 0px 0px 0px rgb(254, 198, 39);
  box-shadow: -8px 0px 0px 0px rgb(254, 198, 39);
  width: 100%;
}

@media (min-width: 767px) {
  .order__part .order__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }
  .order__part .order__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 980px) {
  .order__part .order__img {
    display: none;
  }
  .order__part .order__body {
    display: block;
  }
  .order__part .order__form-content {
    padding: 20px 0;
  }
  .order__part .order__form-content form {
    width: 100%;
  }
  .order__part .order__form-content form .main__btn {
    width: 100%;
  }
  .order__part .order__form-content form .main__btn button {
    padding: 13px 50px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .order__part .order__form-content form input {
    width: 100%;
  }
}
.products {
  background: url("/img/Rectangle 30.png") center center no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.products .products__body {
  position: relative;
}
.products .products__body .bg__klip {
  top: 20%;
  left: -20px;
}
.products .products__info {
  text-align: center;
}
.products .products__info .main__title::before {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.products .products__slider {
  padding: 10px 0;
}
.products .products__slider .products__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}
.products .products__slider .products__slider-item img {
  width: 60%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 10px;
  margin-top: 30px;
}
.slick-dots li.slick-active button {
  background: #FEC627;
}
.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #A7A7A7;
  border: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.review {
  padding: 50px 0;
}
.review .slick-arrow {
  bottom: -10px;
}
.review .review__body {
  position: relative;
}
.review .review__info {
  text-align: center;
}
.review .review__info .main__title::before {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.review .slider__body {
  max-width: 400px;
  background: #F6F6F6;
  padding: 15px;
  border-radius: 14px;
}
.review .slider__body h1 {
  font-size: 22px;
}
.review .slider__body h3 {
  color: #858585;
}
.review .slider__body p {
  color: #858585;
}
.review .slider__body .review__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
}
.review .slider__body .review__text {
  margin: 10px 0;
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 10;
  font-size: 0;
  border: none;
  border-radius: 50px;
  width: 20px;
  height: 30px;
  background: url("/img/svg/Vector_left.svg") center center no-repeat;
  background-color: #FEC627;
  padding: 15px;
}
.slick-arrow.slick-next {
  right: calc(50% - 130px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slick-arrow.slick-prev {
  left: calc(50% - 130px);
  width: 20px;
  height: 30px;
  background: url("/img/svg/Vector_left.svg") center center no-repeat;
  background-color: #FEC627;
  padding: 15px;
}

footer {
  color: #fff;
  background: #131313;
  padding: 30px 0;
}
footer .main__logo span {
  color: #fff;
}
footer .footer__menu * {
  color: #fff;
}
footer .footer__menu .menu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px 0;
}
footer .footer__link .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px 0;
  margin-bottom: 20px;
}
footer .footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}
footer .footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 500px;
          flex: 0 2 500px;
}
footer .footer__info h2 {
  margin: 20px 0;
  font-weight: 400;
}
footer .footer__subscribe input {
  width: 100%;
  border: none;
  padding: 15px 20px;
  background: #F6F6F6;
  margin-bottom: 10px;
  border-radius: 4px;
}
footer .footer__subscribe .main__btn button {
  width: 100%;
}

@media (max-width: 767px) {
  .footer__subscribe {
    width: 100%;
  }
}
.bg__klip {
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 5;
}
.bg__klip.klip-1 {
  background: url("/img/black-plastic-welding-mask-isolated-png 1.png") center center no-repeat;
  height: 140px;
  width: 120px;
}
.bg__klip.klip-2 {
  background: url("/img/klipartz 6.png") center center no-repeat;
  width: 150px;
  height: 280px;
}
.bg__klip.klip-3 {
  background: url("/img/klipartz 8.png") center center no-repeat;
  width: 150px;
  height: 385px;
}
.bg__klip.klip-4 {
  background: url("/img/klipartz 3.png") center center no-repeat;
  width: 140px;
  height: 240px;
}