{% load static %}


        <header class="header">
            <div class="header__content">
                <div class="header__up">
                    <div class="container">
                        <div class="header__up-body">
                            <div class="contacts">
                                <a href="#"><img src="{% static 'img/svg/Vector_vk.svg' %}" alt="Svg Icon"></a>
                                <a href="#"><img src="{% static 'img/svg/Vector.svg' %}" alt="Svg Icon"></a>
                                <a href="#"><img src="{% static 'img/svg/whatsapp.svg' %}" alt="Svg Icon"> </a>
                                <a href="#"><img src="{% static 'img/svg/basil_viber-outline.svg' %}" alt="Svg Icon"></a>
                            </div>
                            <div class="info">
                                <a href="#"><span><img src="{% static 'img/svg/Vector_lock.svg' %}"  alt="Svg Icon"></span> Məkan</a>
                                <a href="#"><span><img src="{% static 'img/svg/Vector_call.svg' %}"  alt="Svg Icon"></span> {{ company_info.phone }}</a>
                                <a href="#"><span><img src="{% static 'img/svg/Vector_mess.svg' %}"  alt="Svg Icon"></span> {{ company_info.email }}</a>

                            </div>
                            <div class="header__phone">
                                <a href="#"><span><img src="{% static 'img/svg/Vector_call.svg' %}"  alt="Svg Icon"></span> {{ company_info.phone }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__down">
                    <div class="container">
                        <div class="header__down-body">
                            <div class="main__logo">
                                <a href="#"><h1>ProWeldBaku<span>.az</span></h1></a>
                            </div>
                            <div class="header__menu">
                                <nav class="menu">
                                    <ul>
                                        <a href="/#"><li class="header__link">Ana səhifə</li></a>
                                        <a href="/#services"><li class="header__link">Xi̇dmətlər</li></a>
                                        <a href="/#about"><li class="header__link">Məni̇m haqqimda</li></a>
                                        <a href="/#works"><li class="header__link">Məni̇m i̇şləri̇m</li></a>
                                        <a href="/#order"><li class="header__link">Si̇fari̇ş vermək</li></a>
                                        <a href="/catalog"><li class="header__link">Catalog</li></a>
                                    </ul>
                                    <div class="info">
                                        <a href="#" target="_blank"><span><img src="{% static 'img/svg/Vector_lock.svg' %}"  alt="w"></span> Məkan</a>
                                        <a href="#"><span><img src="{% static 'img/svg/Vector_call.svg' %}"  alt=""></span> {{ company_info.phone }}</a>
                                        <a href="#"><span><img src="{% static 'img/svg/Vector_mess.svg' %}"  alt=""></span> {{ company_info.email }}</a>
                                        <div class="main__btn order">
                                            <button>Si̇fari̇ş vermək</button>
                                        </div>
                                    </div>
                                </nav>

                            </div>
                            <div class="header__burger">

                            </div>
                            <div class="main__btn order hide">
                                <button>Si̇fari̇ş vermək</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>