{% load static %}


        <header class="header">
            <div class="header__content">
                <div class="header__up">
                    <div class="container">
                        <div class="header__up-body">
                            <div class="contacts">
                                <a href="#"><img src="{% static 'img/svg/Vector_vk.svg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'img/svg/Vector.svg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'img/svg/whatsapp.svg' %}" alt=""> </a>
                                <a href="#"><img src="{% static 'img/svg/basil_viber-outline.svg' %}" alt=""></a>
                            </div>
                            <div class="info">
                                <a href="#"><span><img src="{% static 'img/svg/Vector_lock.svg' %}"  alt="w"></span> Məkan</a>
                                <a href="#"><span><img src="{% static 'img/svg/Vector_call.svg' %}"  alt=""></span> 0506666666</a>
                                <a href="#"><span><img src="{% static 'img/svg/Vector_mess.svg' %}"  alt=""></span> example@gmail.com</a>

                            </div>
                            <div class="header__phone">
                                <a href="#"><span><img src="{% static 'img/svg/Vector_call.svg' %}"  alt=""></span> 0506666666</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__down">
                    <div class="container">
                        <div class="header__down-body">
                            <div class="main__logo">
                                <a href="#"><h1>Logo<span>.logo</span></h1></a>
                            </div>
                            <div class="header__menu">
                                <nav class="menu">
                                    <ul>
                                        <a href="/"><li class="header__link">Ana səhifə</li></a>
                                        <a href=""><li class="header__link">Xi̇dmətlər</li></a>
                                        <a href=""><li class="header__link">Məni̇m haqqimda</li></a>
                                        <a href=""><li class="header__link">Məni̇m i̇şləri̇m</li></a>
                                        <a href=""><li class="header__link">Sual vermək</li></a>
                                        <a href=""><li class="header__link">Si̇fari̇ş vermək</li></a>
                                    </ul>
                                    <div class="info">
                                        <a href="#"><span><img src="{% static 'img/svg/Vector_lock.svg' %}"  alt="w"></span> Məkan</a>
                                        <a href="#"><span><img src="{% static 'img/svg/Vector_call.svg' %}"  alt=""></span> 0506666666</a>
                                        <a href="#"><span><img src="{% static 'img/svg/Vector_mess.svg' %}"  alt=""></span> example@gmail.com</a>
                                        <div class="main__btn order">
                                            <button>Si̇fari̇ş vermək</button>
                                        </div>
                                    </div>
                                </nav>

                            </div>
                            <div class="header__burger">

                            </div>
                            <div class="main__btn order hide">
                                <button>Si̇fari̇ş vermək</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>