{% load static %}

<section class="order__part" id="order">
    <div class="order__content">
        <div class="con">
            <div class="order__body">
                <div class="order__form-content">
                    <div class="container">
                        <div class="order__title">
                            <h1 class="main__title  ">Sifariş vermək</h1>
                        </div>
                        <form action="" method="post">
                            <input type="email" style="width: 100%;" placeholder="E-poçt">
                            <input type="text" style="width: 100%;" placeholder="Əlaqə nömrəniz">
                            <input type="text" placeholder="Ad">
                            <input type="text" placeholder="Soyad">
                            <textarea name="" id="" cols="30" rows="5" style="width: 100%;" placeholder="Messaj"></textarea>

                            <div class="main__btn">
                                <button>Göndər</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="order__img">
                    <img src="{% static 'img/Rectangle 28.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>