{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Сварочные Работы</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

    {%  include 'template/header.html' %}

    <div class="order__form">
        <div class="order__form-body">
            <div class="container">
                <span class="close"><img src="{% static 'img/svg/Vector_x.svg' %}" alt=""></span>
                <div class="order__form-content">
                    <div class="order__title">
                        <h1>Sifariş vermək</h1>
                    </div>
                    <form action="" method="post">
                        <input type="email" style="width: 100%;" placeholder="E-poçt">
                        <input type="text" style="width: 100%;" placeholder="Əlaqə nömrəniz">
                        <input type="text" placeholder="Ad">
                        <input type="text" placeholder="Soyad">
                        <textarea name="" id="" cols="30" rows="5" style="width: 100%;" placeholder="Messaj"></textarea>

                        <div class="main__btn">
                            <button>Göndər</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <main class="main">
            <section class="welcome__part">
                <div class="welcome__part-content">
                    <div class="container">
                        <div class="welcome__part-body">
                            <div class="title">
                                <h1>Müştəriyə şəhərdaxili və <span>şəhərxarici</span> qaynaq işlərinin xidmətləri təqdim <span>olunur.</span></h1>
                            </div>
                            <div class="info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="main__btn order ">
                                <button>Si̇fari̇ş vermək</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="services">
                <div class="services__content">
                    <div class="bg__klip klip-1"></div>
                    <div class="bg__klip klip-2"></div>
                    <div class="container">
                        <div class="services__body">
                            <div class="main__info">
                                <div class="main__title">
                                    <h1>Göstərdiyimiz xidmətlər</h1>
                                </div>
                                <div class="main__text">
                                    <p>Metalla bağlı bütün işləri görürəm: kanop va tentelarin qaynağı, pilləkənlərin və məhəccərlərin qaynağı, hasar və darvazanın qaynağı, metal konstruksiyaların qaynağı, besedka va darvazanın qaynağı və s. Elektrik arc invektoru və ya yan avtomatik ile qaynaq, atelyede İşləmək mümkündür.</p>
                                </div>
                                <div class="services__feature">
                                    <div>
                                        <span><img src="{% static 'img/svg/Vector_feautere.svg' %}"></span>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <div>
                                        <span><img src="{% static 'img/svg/Vector_feautere.svg' %}"></span>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <div>
                                        <span><img src="{% static 'img/svg/Vector_feautere.svg' %}"></span>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                </div>
                                <div class="main__btn order">
                                    <button>Si̇fari̇ş vermək</button>
                                </div>
                            </div>
                            <div class="main__img">
                                <img src="{% static 'img/pexels-photo-14528644 1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section class="services">
                <div class="services__content">
                    <div class="bg__klip klip-3"></div>
                    <div class="container">
                        <div class="services__body about__us">
                            <div class="main__img">
                                <img src="{% static 'img/pexels-photo-14528644 1 2222222.png' %}" alt="">
                            </div>
                            <div class="main__info">
                                <div class="main__title">
                                    <h1>Mənim haqqımda</h1>
                                </div>
                                <div class="main__text">
                                    <p>Artiq 18 ildən çoxdur ki, Bakıda qaynaqçı xidmətləri göstərirəm ve bütün bu müddət ərzinde qeyri-adi metal mehsulların yaradılması üçün bir çox uğurlu layihələr hayata keçirmişam Demek olar ki, metalla bağlı bütün işləri görürem kanop va tentolarin qaynağı, pillakənlərin və mahaccarlarin qaynağı, hasar və darvazanın qaynağı, metal konstruksiyaların qaynağı. besedka va darvazanın qaynağı və s. Elektrik orc invektoru ve ya yan avtomatik ila qaynaq, sexde işləmək mümkündür. Mənimia emakdaşlığın başqa bir müsbət tarafi odur i, işin dayanı anların icrasına başlamazdan əvvəl müzakirə olunur, buna görə müştəri sonda artiq odamall olacağından narahat olmamalidir.</p>
                                </div>

                                <div class="main__btn order">
                                    <button>Si̇fari̇ş vermək</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <section class="products">
                <div class="products__content">
                    <div class="bg__klip klip-4"></div>
                    <div class="container">
                        <div class="products__body">
                            <div class="products__info">
                                <div class="main__title">
                                    <h1>Mənim işlərim</h1>
                                </div>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates perferendis possimus voluptas rem explicabo consequatur sequi molestias, repellendus nostrum laudantium soluta aut vero.    </p>
                                </div>
                            </div>
                            <div class="products__slider">
                                <div class="products__slider-item"><img src="{% static 'img/primer-lazer-peregorod-15 1.png' %}" alt=""></div>
                                <div class="products__slider-item"><img src="{% static 'img/primer-lazer-peregorod-15 1.png' %}" alt=""></div>
                                <div class="products__slider-item"><img src="{% static 'img/primer-lazer-peregorod-15 1.png' %}" alt=""></div>
                                <div class="products__slider-item"><img src="{% static 'img/primer-lazer-peregorod-15 1.png' %}" alt=""></div>
                                <div class="products__slider-item"><img src="{% static 'img/primer-lazer-peregorod-15 1.png' %}" alt=""></div>
                                <div class="products__slider-item"><img src="{% static 'img/primer-lazer-peregorod-15 1.png' %}" alt=""></div>
                                <div class="products__slider-item"><img src="{% static 'img/primer-lazer-peregorod-15 1.png' %}" alt=""></div>
                                <div class="products__slider-item"><img src="{% static 'img/primer-lazer-peregorod-15 1.png' %}" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="review">
                <div class="review__content">
                    <div class="container">
                        <div class="review__body">
                            <div class="review__info">
                                <div class="main__title">
                                    <h1>Haqqımızda rəylər</h1>
                                </div>
                            </div>
                            <div class="review__slider">
                                <div class="review__slider-item">
                                    <div class="slider__body">
                                        <div class="review__title">
                                            <h1>Valeriya</h1>
                                            <div class="stars">
                                                <span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span>
                                            </div>

                                        </div>
                                        <div class="review__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam laudantium illum eaque, nihil quibusdam explicabo sint itaque quas quis sit tempora dolorem nesciunt facilis aliquid fuga est! Fugiat deserunt officia consequuntur mollitia optio nemo corporis dolorum, possimus tempore perspiciatis quos minus cum blanditiis sunt! Animi voluptatibus possimus illum quas?</p>
                                        </div>
                                        <div class="review__date">
                                            <h3>Feb 15, 2024</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="review__slider-item">
                                    <div class="slider__body">
                                        <div class="review__title">
                                            <h1>Valeriya</h1>
                                            <div class="stars">
                                                <span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span>
                                            </div>

                                        </div>
                                        <div class="review__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam laudantium illum eaque, nihil quibusdam explicabo sint itaque quas quis sit tempora dolorem nesciunt facilis aliquid fuga est! Fugiat deserunt officia consequuntur mollitia optio nemo corporis dolorum, possimus tempore perspiciatis quos minus cum blanditiis sunt! Animi voluptatibus possimus illum quas?</p>
                                        </div>
                                        <div class="review__date">
                                            <h3>Feb 15, 2024</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="review__slider-item">
                                    <div class="slider__body">
                                        <div class="review__title">
                                            <h1>Valeriya</h1>
                                            <div class="stars">
                                                <span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span>
                                            </div>

                                        </div>
                                        <div class="review__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam laudantium illum eaque, nihil quibusdam explicabo sint itaque quas quis sit tempora dolorem nesciunt facilis aliquid fuga est! Fugiat deserunt officia consequuntur mollitia optio nemo corporis dolorum, possimus tempore perspiciatis quos minus cum blanditiis sunt! Animi voluptatibus possimus illum quas?</p>
                                        </div>
                                        <div class="review__date">
                                            <h3>Feb 15, 2024</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="review__slider-item">
                                    <div class="slider__body">
                                        <div class="review__title">
                                            <h1>Valeriya</h1>
                                            <div class="stars">
                                                <span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span>
                                            </div>

                                        </div>
                                        <div class="review__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam laudantium illum eaque, nihil quibusdam explicabo sint itaque quas quis sit tempora dolorem nesciunt facilis aliquid fuga est! Fugiat deserunt officia consequuntur mollitia optio nemo corporis dolorum, possimus tempore perspiciatis quos minus cum blanditiis sunt! Animi voluptatibus possimus illum quas?</p>
                                        </div>
                                        <div class="review__date">
                                            <h3>Feb 15, 2024</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="review__slider-item">
                                    <div class="slider__body">
                                        <div class="review__title">
                                            <h1>Valeriya</h1>
                                            <div class="stars">
                                                <span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span>
                                            </div>

                                        </div>
                                        <div class="review__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam laudantium illum eaque, nihil quibusdam explicabo sint itaque quas quis sit tempora dolorem nesciunt facilis aliquid fuga est! Fugiat deserunt officia consequuntur mollitia optio nemo corporis dolorum, possimus tempore perspiciatis quos minus cum blanditiis sunt! Animi voluptatibus possimus illum quas?</p>
                                        </div>
                                        <div class="review__date">
                                            <h3>Feb 15, 2024</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="review__slider-item">
                                    <div class="slider__body">
                                        <div class="review__title">
                                            <h1>Valeriya</h1>
                                            <div class="stars">
                                                <span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="/{% static 'img/svg/Vector_star.svg' %}" alt=""></span>
                                            </div>

                                        </div>
                                        <div class="review__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam laudantium illum eaque, nihil quibusdam explicabo sint itaque quas quis sit tempora dolorem nesciunt facilis aliquid fuga est! Fugiat deserunt officia consequuntur mollitia optio nemo corporis dolorum, possimus tempore perspiciatis quos minus cum blanditiis sunt! Animi voluptatibus possimus illum quas?</p>
                                        </div>
                                        <div class="review__date">
                                            <h3>Feb 15, 2024</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="review__slider-item">
                                    <div class="slider__body">
                                        <div class="review__title">
                                            <h1>Valeriya</h1>
                                            <div class="stars">
                                                <span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span>
                                            </div>

                                        </div>
                                        <div class="review__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam laudantium illum eaque, nihil quibusdam explicabo sint itaque quas quis sit tempora dolorem nesciunt facilis aliquid fuga est! Fugiat deserunt officia consequuntur mollitia optio nemo corporis dolorum, possimus tempore perspiciatis quos minus cum blanditiis sunt! Animi voluptatibus possimus illum quas?</p>
                                        </div>
                                        <div class="review__date">
                                            <h3>Feb 15, 2024</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="review__slider-item">
                                    <div class="slider__body">
                                        <div class="review__title">
                                            <h1>Valeriya</h1>
                                            <div class="stars">
                                                <span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span><span><img src="{% static 'img/svg/Vector_star.svg' %}" alt=""></span>
                                            </div>

                                        </div>
                                        <div class="review__text">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ipsam laudantium illum eaque, nihil quibusdam explicabo sint itaque quas quis sit tempora dolorem nesciunt facilis aliquid fuga est! Fugiat deserunt officia consequuntur mollitia optio nemo corporis dolorum, possimus tempore perspiciatis quos minus cum blanditiis sunt! Animi voluptatibus possimus illum quas?</p>
                                        </div>
                                        <div class="review__date">
                                            <h3>Feb 15, 2024</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            {% include 'template/order.html' %}
        </main>
        {% include 'template/footer.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>