{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Сварочные Работы</title>
    <link rel="icon" href="{% static 'img/logo/icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
</head>
<body>

    {%  include 'template/header.html' %}

<div class="order__form">
        <div class="order__form-body">
            <div class="container">
                <span class="close"><img src="{% static 'img/svg/Vector_x.svg' %}" alt=""></span>
                <div class="order__form-content">
                    <div class="order__title">
                        <h1>Sifariş vermək</h1>
                    </div>
                    <form action="" method="post">
                        <input type="email" style="width: 100%;" placeholder="E-poçt">
                        <input type="text" style="width: 100%;" placeholder="Əlaqə nömrəniz">
                        <input type="text" placeholder="Ad">
                        <input type="text" placeholder="Soyad">
                        <textarea name="" id="" cols="30" rows="5" style="width: 100%;" placeholder="Messaj"></textarea>

                        <div class="main__btn">
                            <button>Göndər</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
         <div class="product__page">
             <div class="product__page-body">
                 <span class="close"><img src="{% static 'img/Vector_x.svg' %}" alt=""></span>
                 <div class="page__slider">
                     <div class="product__page-slider">
                         <div class="sldr__item">
                             <img src="{% static 'img/Rectangle 33s.png' %}" alt="">
                         </div>
                         <div class="sldr__item">
                             <img src="{% static 'img/Rectangle 33s — копия.png' %}" alt="">
                         </div>
                         <div class="sldr__item">
                             <img src="{% static 'img/Rectangle 33s.png' %}" alt="">
                         </div>
                         <div class="sldr__item">
                             <img src="{% static 'img/Rectangle 33s — копия.png' %}" alt="">
                         </div>

                     </div>
                     <div class="page__slider-for">
                         <div class="sldr__item">
                             <img src="{% static 'img/Rectangle 33s.png' %}" alt="">
                         </div>
                         <div class="sldr__item">
                             <img src="{% static 'img/Rectangle 33s — копия.png' %}" alt="">
                         </div>
                         <div class="sldr__item">
                             <img src="{% static 'img/Rectangle 33s.png' %}" alt="">
                         </div>
                         <div class="sldr__item">
                             <img src="{% static 'img/Rectangle 33s — копия.png' %}" alt="">
                         </div>
                     </div>
                 </div>
                 <div class="product__page-info">
                     <div class="main__title">
                         <h1>Mənim haqqımda</h1>
                     </div>
                     <div class="page__info">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                     <div class="main__btn order">
                         <button>Si̇fari̇ş vermək</button>
                     </div>
                 </div>
             </div>
         </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>